.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .modal-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.3rem;
  }
  
  .modal-field {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .modal-field label {
    display: block;
    margin-bottom: 15px;
    color: #333;
  }
  
  .modal-field input {
    /* width: 40%; */
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1.1rem;
  }

  .modal-field select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .modal-btn {
    padding: 8px 16px;
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .modal-btn.primary {
    background-color: #4CAF50;
    color: white;
  }
  
  .modal-error.global {
    color: red;
    margin-bottom: 15px;
    font-size: 0.95rem;
  }
  