.status { 
    border-radius: 7px;
    padding: 0.2rem 0.7rem;
    color: white;
    font-weight: 500;
    
  }
  
  .status-success {
    background-color: green;
  }
  
  .status-error {
    background-color: rgb(206, 0, 0);
  }
  
  .status-suspected {
    background-color: rgb(206, 128, 0);
  }
  

  @media print {
    
    .avoid-break {
      page-break-inside: avoid;
    }

}